.pedidoContainer {
  width: 100%;
  background-color: #e9e9e9;
  z-index: 10;
}
.botonPedidoContainer {
  min-height: 100%;
}
.botonPedido {
  height: 54px;
  border: none;
  background-color: rgb(173, 115, 226);
}
.pedidoLink{
    text-decoration: none;
    color: #212529;   
}
.botonMostrarListado{
  height: 54px;
  width: 33.8%;
  border: none;
  background-color: #68e1ff
}
.botonEliminarDeLista{
  border: none;
  background-color: white;
  border-radius: 100%;
}
.modalListadoDeJuegos{
  overflow-y: scroll;
  min-height: 350px;
  max-height: 350px;
}